Entidades/Service References/Serv_Admin/ServiceSSToken113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VMUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstatus" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario_sistema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMUsuario" nillable="true" type="tns:VMUsuario" />
  <xs:complexType name="ArrayOfVMUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMUsuario" nillable="true" type="tns:VMUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMUsuario" nillable="true" type="tns:ArrayOfVMUsuario" />
</xs:schema>