Entidades/Service References/Serv_Admin/ServiceSSToken115.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._ToolItem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._ToolItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVMToolItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMToolItem" nillable="true" type="tns:VMToolItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMToolItem" nillable="true" type="tns:ArrayOfVMToolItem" />
  <xs:complexType name="VMToolItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTool" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioPermisos" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permitir" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMToolItem" nillable="true" type="tns:VMToolItem" />
</xs:schema>