Entidades/Service References/Serv_Admin/ServiceSSToken118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._ItemModulo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._ItemModulo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVMItemModulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMItemModulo" nillable="true" type="tns:VMItemModulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMItemModulo" nillable="true" type="tns:ArrayOfVMItemModulo" />
  <xs:complexType name="VMItemModulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdItemModulo" type="xs:int" />
      <xs:element minOccurs="0" name="IdItemPadre" type="xs:int" />
      <xs:element minOccurs="0" name="IdModulo" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="Modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlIcono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlIconoModulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMItemModulo" nillable="true" type="tns:VMItemModulo" />
</xs:schema>