Entidades/Service References/Serv_Admin/ServiceSSToken111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Sistema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Sistema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VMSistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Embebido" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlHome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMSistema" nillable="true" type="tns:VMSistema" />
  <xs:complexType name="ArrayOfVMSistema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMSistema" nillable="true" type="tns:VMSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMSistema" nillable="true" type="tns:ArrayOfVMSistema" />
</xs:schema>