Entidades/Service References/Serv_Admin/ServiceSSToken112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Rol" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel.Catalogo._Rol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVMRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMRol" nillable="true" type="tns:VMRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMRol" nillable="true" type="tns:ArrayOfVMRol" />
  <xs:complexType name="VMRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMRol" nillable="true" type="tns:VMRol" />
</xs:schema>