Entidades/Service References/Serv_Token/ServiceToken3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activa" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSesion" nillable="true" type="tns:RespuestaSesion" />
  <xs:complexType name="ExceptionService">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionService" nillable="true" type="tns:ExceptionService" />
</xs:schema>